<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />

@*    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />*@
    <link href="../../Content/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../../Content/style.css" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.6.3.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.featureCarousel.js")" type="text/javascript"></script>   
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-tab.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-typeahead.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
</head>
<body>
    <div class="top_div">
	    <a name="return_top"></a>
	    <div class="top_header">
		    <!--==============================logo================================-->
		    <a href="../Home/Index" class="top_logo_img"></a>
		    <!--==============================nav================================-->
		    <div class="top_nav"><a href="../Home/Index" class="selected">翻书</a>
			    <a href="#" class="">最新</a>
			    <a href="#" class="">推荐</a>
			    <a href="#" class="">活动</a>
			    <a href="#" class="">交流</a>
		    </div>
		    <!--=============================search=================================-->
		    <div class="search">
			    <form method="post" action="#" class="searchform">
				    <input type="text"  placeholder="搜索..." class="search_txt"/>
				    <input type="button" class="search_btn" value=""/>
			    </form>
                @if (Context.User.Identity.IsAuthenticated) {
                    <span class="user_login">
				        <a href="#" target="_blank"><img src="../../Content/Images/users/author.jpg" width="30px" height="30px" border="0"/>@Context.User.Identity.Name</a>
				        <ul class="user_login_ul">
					        <li>
                                @{
                                    //从cookie中获取userID
                                    HttpCookie cookie = Request.Cookies["user"];
                                    
                                    string userID = cookie["userID"].ToString();
                                    //string userID = (string)Session["userID"];
                                    
                                }

                                @Html.RouteLink("我的主页", new {
                                    Controller = "Page",
                                    Action = "List",
                                    userID = userID
                                    })
                            </li>
					        <li>
                                @*<a href="#">私信</a>*@
                                @Html.RouteLink("私信", new {
                                    Controller = "Private",
                                    Action = "List",
                                    userID = userID
                                    })
                            </li>
					        <li><a href="#">消息</a></li>
					        <li><a href="#">设置</a></li>
					        <li>@Html.ActionLink("退出", "LogOff", "Account")</li>
				        </ul>
			        </span>
                } else {
                    <a href="../Account/LogOn">登录</a><p class="pipe">|</p><a href="../Account/Register">注册</a>
                }
			    
		    </div>
	    </div>
    </div>
    
    <div>
        @RenderBody()        
    </div>

    <div class="footer">
	    <div class="footer_content">
		    <span style=" font-family:'微软雅黑'; font-size:36px; color:#999;">翻书网</span>&nbsp;
		    <span style=" font-family:'微软雅黑'; font-size:16px; color:#999; letter-spacing:1px;">属于whut的课本馆,在这里找到你最期盼的那一本书</span>
		    <table>
			    <tbody>
				    <tr><td><a href="#">关于我们</a>|</td><td><a href="#">常见问题</a>|</td><td><a href="#">免责声明</a>|</td><td><a href="#">友情链接</a>|</td><td><a href="#">联系我们</a>|</td><td><a href="#">微博</a></td></tr>
			    </tbody>
		    </table>
	    </div>
    </div>

    
</body>
</html>
