@model findbook.Domain.Entities.BookComments
           
@{
    string userImgPath = "../../Content/Images/users/" + Model.userID + ".jpg";
    }
           
<li>
	<img class="hr1" src="../../Content/Images/web/hr.gif" width="580px"/>
	<div class="user_comment_img">
		<a href="#" target="_blank">
        @*<img src=@userImgPath width="40px" height="40px"/></a>*@
        @Html.ActionLinkWithImage(userImgPath, "List", "Page", new { userID = Model.userID })		
	</div>
	<div class="user_comment_content">
		@*<a href="#" target="_blank">@Model.userName</a>*@
        @Html.RouteLink(@Model.userName, new {
                                    Controller = "Page",
                                    Action = "List",
                                    userID = Model.userID
                                    })
		<p class="comment_content">@Model.cBody</p>
		<p class="comment_content_time">@Model.DateDiff(Model.cTime)</p>
	</div>
	<div class="agree">
		<a href="#"><img src="../../Content/Images/web/recommend_ico.png" width="16px" height="16px"/><span>@Model.agreement</span></a>
	</div>
</li>

