@model findbook.Domain.Entities.Books

@{
    string bookImgPath = "../../Content/Images/books/" + Model.bookID + ".jpg";
    string userID = "";

    //用户判断是否是自己的主页
    bool authenticated = Context.User.Identity.IsAuthenticated;
    bool myPage = false; 

    string recommendHref = "/Book/Recommend/" + Model.bookID;
   
    if (authenticated) {
        //从cookie中获取userID
        HttpCookie cookie = Request.Cookies["user"];
        userID = cookie["userID"].ToString();
        
        myPage = userID.Equals(Model.upUserID);
    }

    string delID = "del" + Model.bookID;
    string boxID = "box" + Model.bookID;
    string querenID = "que" + Model.bookID;
    string quxiaoID = "qux" + Model.bookID;
}

<!--删除确认信息div-->
<script type="text/javascript">
    $(document).ready(function () {
        $(".queren_tishi").hide();
        $(".delete").click(function () {
            var delID = $(this).attr("id");
            var len = delID.length;
            var boxID = "#box" + delID.substring(3, len);

            $(boxID).animate({ opacity: 'show' }, { duration: 500 });
        });

        $(".queren_btn").click(function () {
            var querenID = $(this).attr("id");
            var len = querenID.length;
            var boxID = "#box" + querenID.substring(3, len);

            $(boxID).hide();
        });
        $(".quxiao_btn").click(function () {
            var quxiaoID = $(this).attr("id");
            var len = quxiaoID.length;
            var boxID = "#box" + quxiaoID.substring(3, len);

            $(boxID).hide();
        });
    });
</script>

<li style="position:relative">
    <div class="c105">
    @*<img id="image" src=@bookImgPath width="220" height="180"  border="0px" display:block; />*@
    @Html.ActionLinkWithImage(bookImgPath, "List", "Book", new { bookID = Model.bookID })</div>
    
	<div class="c02">
		<p class="c03">
            @*<a href="#" title="大学英语1" target="_blank">@Model.bookName</a>*@
            @Html.RouteLink(Model.bookName, new {
                                    Controller = "Book",
                                    Action = "List",
                                    bookID = Model.bookID
                                    })
        </p>
		<p ><span>@Model.bookXY</span>-<span>@Model.bookZY</span>-<span class="remain">@Model.remNumber</span>本</p>
		<p>作者:<span>@Model.author</span></p>
			<p>出版社:<span>@Model.pub</span></p>
		<p class="time">@Model.DateDiff(Model.upTime)</p>
		<p class="c04">
			<span>@Model.cNumber</span>
            @Html.RouteLink("我要评论", new {
                                    Controller = "Book",
                                    Action = "List",
                                    bookID = Model.bookID
                                    })

            <span>@Model.recNumber</span><a href="@recommendHref" class="logOnBox">推荐</a>
            @{
                string modifyHref = "/Book/Edit/" + Model.bookID;
                string deleteHref = "/Book/Delete/" + Model.bookID;
                   
                if (myPage) {
                    <span class="c19">
                        <a href="@modifyHref">修改</a>
                        <a class="delete" id="@delID">删除</a>
                    </span>
                }
            }
            <div class="queren_tishi" id="@boxID">
	            <p class="queren_info">确定要删除这条课本信息吗？</p>
	                <div class="queren_btn">
		                <form>
			                <a href="@deleteHref"><input type="button" value="确定" class="queren_btn" id="@querenID"/></a>
			                <input type="button" value="取消" class="quxiao_btn" id="@quxiaoID"/>
		                </form>
	                </div>
            </div>		
		</p>
	</div>
    <div class="price_top">￥<span>@Model.bookPrice.ToString("0.00")</span></div>	
</li>