@model findbook.Domain.Entities.Books

@{
    string bookImgPath = "../../Content/Images/books/" + Model.bookID + ".jpg";
    string userID = "";

    //用户判断是否是自己的主页
    bool authenticated = Context.User.Identity.IsAuthenticated;
    bool myPage = false;
    
   
    if (authenticated) {
        //从cookie中获取userID
        HttpCookie cookie = Request.Cookies["user"];
        userID = cookie["userID"].ToString();
        
        myPage = userID.Equals(Model.upUserID);
    }
}

@*<script type="text/javascript">
    //为每一个超链接绑定click事件，点击后，消息标记为已读
    $(function () {
        $("recommend").live("click", function () {
            var x = 1;

            //页面是否首次加载
            var isPostBack = "<%=IsPostBack%>";

            //不是首次加载
            if (isPostBack) {
                x = "<%=@Model.Recommend(Model.bookID)%>";
            }
        })
    })
</script>*@

<li>
    <div class="c105">
    @*<img id="image" src=@bookImgPath width="220" height="180"  border="0px" display:block; />*@
    @Html.ActionLinkWithImage(bookImgPath, "List", "Book", new { bookID = Model.bookID })</div>
    
	<div class="c02">
		<p class="c03">
            @*<a href="#" title="大学英语1" target="_blank">@Model.bookName</a>*@
            @Html.RouteLink(Model.bookName, new {
                                    Controller = "Book",
                                    Action = "List",
                                    bookID = Model.bookID
                                    })
        </p>
		<p ><span>@Model.bookXY</span>-<span>@Model.bookZY</span>-<span class="remain">@Model.remNumber</span>本</p>
		<p>作者:<span>@Model.author</span></p>
			<p>出版社:<span>@Model.pub</span></p>
		<p class="time">@Model.DateDiff(Model.upTime)</p>
		<p class="c04">
			<span>@Model.cNumber</span>
            @Html.RouteLink("我要评论", new {
                                    Controller = "Book",
                                    Action = "List",
                                    bookID = Model.bookID
                                    })

            <span>@Model.recNumber</span><a href="#" class="logOnBox">推荐</a>
            @{
                if (myPage) {
                    <span class="c19">
                        <a href="#">修改</a>
                        <a href="#">删除</a>
                    </span>
                }
            }		
		</p>
	</div>	
</li>