@model findbook.Domain.Entities.Books

@{
    string href = "/Book/" + Model.bookID;
    string bookImgPath = "../../Content/Images/books/" + Model.bookID + ".jpg";

    string userHref = "/Page/" + Model.upUserID;
    string userImgPath = "../../Content/Images/users/" + Model.upUserID + ".jpg";

    string imgID = "img" + Model.bookID;
    string txtID = "txt" + Model.bookID;
    string hudID = "hud" + Model.upUserID + Model.bookID;
    string infoID = "info" + Model.upUserID + Model.bookID;

    //拼接成私信发送对象ID
    string privateTargetID = "bgID" + Model.bookID + Model.upUserNickName;

    string bookSale = "";
    if (Model.bookSale > 0) {
        bookSale = "已售" + Model.bookSale + "本";
    }

    bool authenticated = Context.User.Identity.IsAuthenticated;

    string userID = "";
    bool mySelf = false;

    string recommendHref = "/Book/Recommend/" + Model.bookID;

    if (authenticated) {
        //从cookie中获取userID
        HttpCookie cookie = Request.Cookies["user"];

        userID = cookie["userID"].ToString();

        //将信息写入session中
        Session["logOnUserID"] = userID;

        mySelf = userID.Equals(Model.upUserID);
    }
}

<li class="detail">
	<a href="@href" title="@Model.bookName">
    <img class="book_img" id="@imgID" src="@bookImgPath" width="220" height="180"  border="0px"alt="@Model.bookName" display:block; /></a>
	<div class="text" id="@txtID">
		<div class="price">@bookSale</div>
		<p>
        @*<a href="@href" title="@Model.bookName">@Model.bookName</a>*@
        @Html.RouteLink(Model.bookName, new {
                    Controller = "Book",
                    Action = "List",
                    bookID = Model.bookID

                   })
        </p>
		<p><span>@Model.bookXY</span>-<span>@Model.bookZY</span>-<span class="remain">@Model.remNumber</span>本</p>
		<p>作者:<span>@Model.author</span></p>
		<p>出版社:<span>@Model.pub</span></p>
		<p class="time">@Model.DateDiff(Model.upTime)</p>	
	</div>
    @{
        if (Model.bookPrice == 0) {
            <img class="free" src="../../Content/Images/web/free.png" alt="免费" width="50px" height="50px" />
        }    
    }
	<p class="hudong">
        <div class="hudong1 hovering" id="@hudID">
            <a href="@userHref">
            <img src="@userImgPath" width="30px" height="30px"/>
            </a>
		    @*<a href="@userHref" class="author_name">@Model.upUserNickName</a>*@
            <div style="float:left; padding-top:12px;">
                @Html.RouteLink(Model.upUserNickName, new {
                            Controller = "Page",
                            Action = "List",
                            userID = Model.upUserID

                           })
            </div>
        </div>
        <div class="comment_up">
		    <span>@Model.cNumber</span><a href="@href" class="logOnBox">评论</a>
		    <span>@Model.recNumber</span><a href="@recommendHref" class="logOnBox">推荐</a>
        </div>
	</p>
    @*/*hover出现信息*/*@
    <div class="hover_personal_info" id="@infoID">
		<div style="float: left;">
			<a href="@userHref"><img src="@userImgPath" width=40px height=40px/></a>	
		</div>
		<div class="hover_a_name">
			<a href="@userHref" class="">@Model.upUserNickName</a><br />
			<label>简介：</label><label>抱着一颗求知欲，走向完美的知识世界...</label>
		</div>
        @{
            if (mySelf) {
                <div class="sixin_ta">
                    @Html.RouteLink("主页", new {
                            Controller = "Page",
                            Action = "List",
                            userID = userID
                           })
                </div>
            } else {
                <div class="sixin_ta"><a href="@Model.upUserID" id="@privateTargetID" class="logOnBox sendPrivate">私信</a></div>
            }
        }
		
	</div>
    <div class="price_top">￥<span>@Model.bookPrice.ToString("0.00")</span></div>	
</li>