@model findbook.WebUI.Models.DealBook

@{
    bool isSeller = false;

    //获取userID
    HttpCookie cookie = Request.Cookies["user"];
    string userID = cookie["userID"].ToString();

    //判断是否为卖家
    isSeller = (userID == Model.sUserID) ? true : false;
    
    string bookImgPath = "../../Content/Images/books/" + Model.bookID + ".jpg";
    string bookHref = "/Book/" + Model.bookID;

    string sUserImgPath = "../../Content/Images/books/" + Model.sUserID + ".jpg";
    string userHref = "/Page/" + Model.sUserID;

    string pUserImgPath = "../../Content/Images/books/" + Model.pUserID + ".jpg";
    string pUserHref = "/Page/" + Model.pUserID;
}

<li>
	<div class="c23">
        @*<a href="#" target="_blank">*@
            <a href="@bookHref" style="border:0;"><img src="@bookImgPath" /></a>
            @*@Html.ActionLinkWithImage(bookImgPath, "List", "Book", new { bookID = Model.bookID })*@
    </div>
	<div class="c24">
		<a href="@bookHref" class="c25">@Model.bookName</a>
		<label>@Model.author</label>&nbsp;&nbsp;<label>@Model.pub</label>
		
        <div class="c26">
            <label>
                <strong>￥@Model.price.ToString("0.0")</strong>
            </label>
        </div>
        
		@{
            if (isSeller) {
                <div class="c28">买家:<a href="@pUserHref">@Model.pUserName</a></div>
            } else {
                <div class="c28">卖家:<a href="@userHref">@Model.sUserName</a></div>
            }    
        }
        
		<div>成交时间:<label>@Model.dTime</label></div>
        <div>购买数量:<label>@Model.number</label>本</div>
        <div>订单状态:<label>@Model.dealTran(@Model.ZT)</label></div>
	</div>
	<div class="c30">
		<div>
            @{
                if (isSeller) {
                    <a href="@pUserHref">进入买家主页</a>
                } else {
                    <a href="@userHref">查看卖家详细资料</a>
                }    
            }
        </div>
        @{
            if (isSeller) {
                if (Model.ZT == "2") {
                    <input type="button" value="同意退货"/>
                }

            } else {
                 if (Model.ZT == "1") {
                    <input type="button" value="申请退货"/>
                 }
            }    
        }
       
	</div>
	<div class="clear"></div>
</li>

