@model findbook.Domain.Entities.LeaveComments
       
@{
    string userImgPath = "../../Content/Images/users/" + Model.lUserID + ".jpg";
    string userHref = "/Page/" + Model.lUserID;
    
    string infoID = "info" + Model.leaComID;
    string hudID = "hud" + Model.leaComID;

    //拼接成私信发送对象ID
    string privateTargetID = "lmID" + Model.leaComID + Model.lUserName;

    bool authenticated = Context.User.Identity.IsAuthenticated;
    bool mySelf = false;

    string userID = "";

    string agreeHref = "/Page/Agree/" + @Model.leaComID;

    if (authenticated) {
        //从cookie中获取userID
        HttpCookie cookie = Request.Cookies["user"];

        userID = cookie["userID"].ToString();


        mySelf = userID.Equals(Model.lUserID);

    }
}

<li style=" position:relative;">
	    <img class="hr1" src="../../Content/Images/web/hr.gif" width="580px"/>
        
	<div class="user_comment_img hovering" id="@hudID" style=" position:relative;">
        <div class="c103">
		    @*<a href="#" target="_blank">*@
            @*<img src=@userImgPath width="40px" height="40px"/></a>*@
            @Html.ActionLinkWithImage(userImgPath, "List", "Page", new { userID = Model.lUserID})

        </div>	
        @*/*hover出现信息*/*@
            <div class="hover_personal_info hover_personal_info_02" id="@infoID">
	            <div style="float: left;">
		            <a href="@userHref"><img src="@userImgPath" width=40px height=40px/></a>	
	            </div>
	            <div class="hover_a_name">
		            <a href="@userHref" class="">@Model.lUserName</a><br />
		            <label>简介：</label><label>这是我的简介这是我的简介这是我的简介...</label>
	            </div>
	            @{
                    if (mySelf) {
                        <div class="sixin_ta">
                            @Html.RouteLink("主页", new {
                                Controller = "Page",
                                Action = "List",
                                userID = userID
                            })
                        </div>
                      } else {
                        <div class="sixin_ta"><a href="@Model.lUserID" id="@privateTargetID" class="logOnBox sendPrivate">私信</a></div>
                      }
                  }
            </div>  	
	</div>

	<div class="user_comment_content">
		@*<a href="#" target="_blank">@Model.lUserName</a>*@
        @Html.RouteLink(@Model.lUserName, new {
       Controller = "Page",
       Action = "List",
       userID = Model.lUserID
   })
		<p class="comment_content">@Model.lBody</p>
		<p class="comment_content_time">@Model.DateDiff(Model.lcTime)</p>
	</div>
	<div class="agree">
		<a href="@agreeHref" class="logOnBox"><img src="../../Content/Images/web/recommend_ico.png" width="16px" height="16px"/><span>@Model.agreement</span></a>
	</div>

</li>



