@model findbook.WebUI.Models.PurchaseBook

@{
    string bookImgPath = "../../Content/Images/books/" + Model.bookID + ".jpg";
    string bookHref = "/Book/" + Model.bookID;

    string sUserImgPath = "../../Content/Images/books/" + Model.sUserID + ".jpg";
    string userHref = "/Page/" + Model.sUserID;
}

<li>
	<div class="c23">
        @*<a href="#" target="_blank">*@
            @*<img src=@bookImgPath width="140px" height="170px" />*@
            @Html.ActionLinkWithImage(bookImgPath, "List", "Book", new { bookID = Model.bookID })</div>
	<div class="c24">
		<a href="@bookHref" class="c25">@Model.bookName</a>
		<label>@Model.author</label>&nbsp;&nbsp;<label>@Model.pub</label>
		
        <div class="c26">
            <label>
                <strong>@Model.price.ToString("0.0")</strong>
            </label>
        </div>

		<div class="c28">卖家:<a href="@userHref">@Model.sUserName</a></div>
		<div>购买时间<label>@Model.pTime</label></div>
        <div>购买数量<label>@Model.number</label>本</div>
        <div>订单状态<label>@Model.sta</label></div>
	</div>
	<div class="c30">
		<div>
            <a href="@userHref">查看详细资料</a>
        </div>
		<input type="button" value="想买"/>
	</div>
	<div class="clear"></div>
</li>
