@model findbook.WebUI.Models.PurchaseBook

@{
    bool isSeller = false;

    //获取userID
    HttpCookie cookie = Request.Cookies["user"];
    string userID = cookie["userID"].ToString();

    //判断是否为卖家
    isSeller = (userID == Model.sUserID) ? true : false;

    string bookImgPath = "../../Content/Images/books/" + Model.bookID + ".jpg";
    string bookHref = "/Book/" + Model.bookID;

    string sUserImgPath = "../../Content/Images/users/" + Model.sUserID + ".jpg";
    string userHref = "/Page/" + Model.sUserID;

    string pUserImgPath = "../../Content/Images/users/" + Model.pUserID + ".jpg";
    string pUserHref = "/Page/" + Model.pUserID;

    string infoID = "info" + Model.pID;
    string hudID = "hud" + Model.pID;

    string totalPrice = (Model.price * Model.number).ToString("0.0");
}

<li>
	<div class="c23">
        @*<a href="#" target="_blank">*@
            <a href="@bookHref" style="border:0;"><img src="@bookImgPath" /></a>
            @*@Html.ActionLinkWithImage(bookImgPath, "List", "Book", new { bookID = Model.bookID })*@
    </div>
	<div class="c24">
		<a href="@bookHref" class="c25">@Model.bookName</a>
		<label>@Model.author</label>&nbsp;&nbsp;<label>@Model.pub</label>
		
        <div class="c26">
            <label>
                <strong>￥@Model.price.ToString("0.0")</strong>
            </label>
        </div>
        @{
            if (isSeller) {
                <div class="c28 hovering" id="@hudID">买家:<a href="@pUserHref">@Model.pUserName</a></div>
            
                @*/*hover出现信息*/*@
                <div class="hover_personal_info" id="@infoID">
	                <div style="float: left;">
		                <a href="@pUserHref"><img src="@pUserImgPath" width=40px height=40px/></a>	
	                </div>
	                <div class="hover_a_name">
		                <a href="@pUserHref" class="">@Model.pUserName</a><br />
		                <label>简介：</label><label>这是我的简介这是我的简介这是我的简介...</label>
	                </div>
	                <div class="sixin_ta"><a href="#" target="_blank">私信</a></div>
                </div>
                
            } else {
                <div class="c28 hovering" id="@hudID">
                    卖家:
                    <div style="display:inline; position:relative;">
                        <a href="@userHref" class="c28_div">@Model.sUserName</a>
                        @*/*hover出现信息*/*@
                        <div class="hover_personal_info hover_personal_info_03" id="@infoID">
	                        <div style="float: left;">
		                        <a href="@userHref"><img src="@sUserImgPath" width="40px" height="40px"/></a>	
	                        </div>
	                        <div class="hover_a_name">
		                        <a href="@userHref" class="">@Model.sUserName</a><br />
		                        <label>简介：</label><label>这是我的简介这是我的简介这是我的简介...</label>
	                        </div>
	                        <div class="sixin_ta"><a href="#" target="_blank">私信</a></div>
                        </div>
                    </div>
                </div>
                
                
            }    
        }
		
		<div>购买时间:<label>@Model.pTime</label></div>
        <div>购买数量:<label>@Model.number</label>本</div>
        <div class="c26">
            <label>
                
                <strong>总计￥@totalPrice</strong>
            </label>
        </div>
        <div>订单状态:<label>@Model.purchaseTran(@Model.sta)</label></div>
	</div>
	<div class="c30">
		<div>
            @{
                if (isSeller) {
                    <a href="@pUserHref">进入买家主页</a>
                } else {
                    <a href="@userHref">查看卖家详细资料</a>
                }    
            }
            
        </div>
        @{
            if (isSeller) {
                if (Model.sta == "0") {
                    <input type="button" value="确认出售"/><br />
                }

            } else {
                if (Model.sta == "1") {
                    <input type="button" value="收到图书"/><br />
                }
            } 
         }
        <input type="button" value="取消交易"/>
	</div>
	<div class="clear"></div>
</li>
