@model findbook.Domain.Entities.Privates
    
@{
    string userImgPath = "../../Content/Images/users/" + Model.sUserID + ".jpg";
 }
           
<li>
	<img class="hr1" src="../../Content/Images/web/hr.gif" width="580px"/>
	<div class="user_comment_img">
		@*<a href="#" target="_blank">*@
        @*<img src=@userImgPath width="40px" height="40px"/></a>*@
        @Html.ActionLinkWithImage(userImgPath, "List", "Page", new { userID = Model.sUserID })		
	</div>
	<div class="user_comment_content">
		@*<a href="#" target="_blank">@Model.sUserName</a>*@
        @Html.RouteLink(Model.sUserName, new {
                                        Controller = "Page",
                                        Action = "List",
                                        userID = @Model.sUserID,
                                    })
		<p class="comment_content">@Model.pmBody</p>
		<p class="comment_content_time">@Model.sTime</p>
	</div>
	<div class="comment_content_reply">
		<a href="#" target="_blank">回复</a>|
		<a href="#" >删除</a>
	</div>
</li>

