@model findbook.Domain.Entities.SystemMessages

@*<script type="text/javascript">
    //为每一个超链接绑定click事件，点击后，消息标记为已读
    $(function () {
        $("unRead").live("click", function () {
            //页面是否首次加载
            var sysMesID = $(this).attr('id');

            var isPostBack = "<%=IsPostBack%>";

            if (isPostBack) {
                var x = "<%=@findbook.Domain.Entities.SystemMessages.MarkReaded(@Model.sysMesID)%>"
            }
        })
    })
</script>*@

<li>
    <span>
        @Model.smBody
    </span>
    <span>
        <a class="unRead" id="@Model.sysMesID" href="@Model.href">@Model.href</a>
    </span>
    <br />
    <span>
        @Model.sTime
    </span>
</li>