@model findbook.WebUI.Models.Account.LogOnModel

@{
    ViewBag.Title = "登陆";
}

<link href="../../Content/jquery.validity.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="@Url.Content("~/Scripts/validity.js")"></script>

<script type="text/javascript">
    $(function () {
        $("form").validity(function () {
            $("#UserName")
                        .require('请输入用户名')

            $("#Password")
                        .require('请输入密码')
        });
    });
</script>

<div class="content">
	<div class="loginbg">
		<div class="login_div">
			<div class="login">
				@using (Html.BeginForm("LogOn", "Account", FormMethod.Post)) { 
				    <span>登录</span>
				    <p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
				    <p>
                        @Html.LabelFor(m => m.UserName)
                        @Html.TextBoxFor(m => m.UserName)
				        @*<a href="register.html" class="register_login" style="font-size:20px;">>>没有账号请注册</a>*@
                        @Html.ActionLink(">>>没有账号请注册", "Register", null, new { @class = "register_login"})
			            </p>
			        <p>
				        @Html.LabelFor(m => m.Password)
                        @Html.PasswordFor(m => m.Password)
			        </p>
			        <p>
				        @Html.CheckBoxFor(m => m.RememberMe, new { @class = "select_no_br"})
                        @Html.LabelFor(m => m.RememberMe)
			        </p>
				    <p>
				    <a href="#" style="font-size:14px;">忘记密码?</a>
				        <input type="submit" name="go" id="go" value="登录">
			        </p>
				    <div style="height:35px;"></div>
				}
			</div>	
		</div>
	</div>
</div>





