@model findbook.WebUI.Models.PageViewModel

@{
    //string userID = (string)Context.Session["userID"];
    
    //从cookie中获取userID
    HttpCookie cookie = Request.Cookies["user"];
    string userID = cookie["userID"].ToString();
    string userName = cookie["userName"].ToString();  
          
    //确定是不是自己的主页
    bool myPage = Model.Users.userID.Equals(userID);
    
    if (myPage) {
        //自己看自己
        ViewBag.Title = "我的主页";
    } else {
        //别人看自己
        ViewBag.Title = Model.Users.userNickName + "的主页";
        
        //将对方的信息写到session中
        Context.Session["hUserID"] = userID;
    }
}

<div class="content">
	<!--个人信息-->
	<div class="personal_info">
        <div class="personal_img">
	        <img src="../../Content/Images/users/author.jpg" width="220px" height="220px" />
        </div>
		<div class="psesonal_introduction">
			<p>
				<span class="personal_name">
                    @Model.Users.userNickName
                </span>&nbsp;&nbsp;
                <span>
                    @{
                        string sex = Model.Users.userSex;
                        if (sex.Equals("0")) {
                            sex = "男";
                        } else {
                            sex = "女";
                        }  
                    } 
                    <img src="../../Content/Images/web/gender.png" />@sex

                    @if (myPage) { 
                        @*<a href="#" target="_blank">修改个人资料</a>*@
                        @Html.RouteLink("修改个人资料", new {
                           Controller = "Info",
                           Action = "Profile",
                           userID = userID
                       })
                    }
                </span>
			</p>
			<img class="hr1" src="../../Content/Images/web/hr.gif" width="220px"/>
            @if (myPage) {
                <p>
				    <span class="c17">
                        <img src="../../Content/Images/web/askfor_icon.png" width="16px" height="16px"/>
                        <a href="#">
                            @Html.RouteLink("发布求购令", new {
                                Controller = "Info",
                                Action = "Want",
                                userID = userID
                            })
                        </a>
                    </span>

				    <span class="c18">
                        @Html.RouteLink("上传图书", new {
                           Controller = "Info",
                           Action = "UpLoad",
                           userID = userID
                       })
                    </span>
			    </p>
            } else { 
                <p class="c17">
				    <a href="#"><img src="../../Content/Images/web/contact_ico.png" width="16px" height="16px"/>&nbsp;给Ta发私信</a>
			    </p>
            }
			
			<img class="hr1" src="../../Content/Images/web/hr.gif" width="220px"/>
			<p>
				校区：<span>@Model.Users.XQ</span>
			</p>
			<img class="hr1" src="../../Content/Images/web/hr.gif" width="220px"/>
			<p>
				学院专业：<span>@Model.Users.userXY</span>-<span>@Model.Users.userZY</span>
			</p>
			<img class="hr1" src="../../Content/Images/web/hr.gif" width="220px"/>
			<p>
				年级：<span>@Model.Users.userGrade</span>
			</p>
			<img class="hr1" src="../../Content/Images/web/hr.gif" width="220px"/>
			<p>
				<span>@Model.Users.userQQ</span>
			</p>
			<img class="hr1" src="../../Content/Images/web/hr.gif" width="220px"/>
			<p>
				<span>@Model.Users.userPhone</span>
			</p>
		</div>
		<div class="page-description">
			<div class="fangwenshu">访问数:<span>@Model.Pages.visitTimes</span></div>
			<div class="c15"><span>@Model.Pages.pageDesc</span></div>
			<div class="tags">
				<p class="c16">Ta的标签</p>
				<div class="tag"><p>计算机</p><p>计算机</p><p>计算机</p><p>计算机</p><p>计算机</p><p>计算机</p><p>计算机</p><p>计算机</p><p>计算机</p><p>计算机</p><p>计算机</p></div>
			</div>
		</div>
	</div>
	<!--个人上传-->
	<div class="personal_upload">
        @{
            if (myPage) {
                //自己看自己
                <div class="c01">我的上传</div>
            } else {
                //别人看自己
                <div class="c01">Ta的上传</div>
            }
        }
		
		<div class="personal_upload_li">
			<ul>
				@foreach (var m in Model.Books) {
                    Html.RenderPartial("BookUploaded", m);
                }
			</ul>
		</div>
	</div>
	
	<!--评论-->
	<div class="comment_zone">
		<div class="comment_zone_inner">
			<p style="color:#666;font-size:14px;font-weight:bold;">
                @{  
                    string host = "";
                    if (myPage) {
                        //自己看自己
                        host = "给我的留言";
                    } else {
                        //别人看自己
                        host = "给Ta留言";
                    }

                    host = host + "  共" + Model.Pages.lNumber + "条";
                }
                
                @host
            </p>
			<!--评论-->
			<div class="comment_box">
				@using (Ajax.BeginForm("List", new { Controller = "Page", Action = "List", userID = Model.Users.userID, userName = Model.Users.userName }, new AjaxOptions{})) {
                    <ul id="LeaveComments">
				        @foreach (var m in Model.LeaveComments) {
                            Html.RenderPartial("LeaveComments", m);
                        }
			        </ul>
					<textarea name="lBody" rows="6" cols="93"></textarea>
					<input type="submit" value="留言"/>
    }
			</div>
		</div>
	</div>
</div>

